### REQUIRED LIBRARY IMPORTED

In [8]:
import pandas as pd
df=pd.read_csv("Toronto_collision_raw.csv")

### DATA CLEANING

In [11]:
df=df.drop(columns = {"OBJECTID", "EVENT_UNIQUE_ID", "HOOD_158", "LONG_WGS84", "LAT_WGS84", "x", "y", "DIVISION", "OCC_DATE", "PD_COLLISIONS"})

In [84]:
df.columns = ["accident_month", "accident_day", "accident_year", "accident_hour", "fatalities", "injuries", "collisions", "area", "car", "motorcycle", "passengers", "bicycle", "pedestrians"]

In [86]:
df

,accident_month,accident_day,accident_year,accident_hour,fatalities,injuries,collisions,area,car,motorcycle,passengers,bicycle,pedestrians
0,January,Wednesday,2014,14,0,NO,NO,Tam O'Shanter-Sullivan (118),N/R,N/R,N/R,N/R,N/R
1,January,Wednesday,2014,7,0,NO,YES,NSA,YES,NO,NO,NO,NO
2,January,Wednesday,2014,2,0,YES,NO,NSA,YES,NO,NO,NO,NO
3,January,Wednesday,2014,3,0,NO,NO,NSA,YES,NO,NO,NO,NO
4,January,Wednesday,2014,5,0,YES,NO,NSA,YES,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739260,March,Monday,2025,9,0,NO,NO,University (79),YES,NO,NO,NO,NO
739261,March,Monday,2025,11,0,NO,NO,Weston (113),YES,NO,NO,NO,NO
739262,March,Monday,2025,14,0,NO,YES,Palmerston-Little Italy (80),YES,NO,NO,NO,NO
739263,March,Monday,2025,6,0,YES,NO,York University Heights (27),YES,NO,YES,NO,NO
739264,March,Monday,2025,21,0,NO,NO,Downsview (155),YES,NO,NO,NO,NO

In [91]:
df.isnull().sum()

accident_month    0
accident_day      0
accident_year     0
accident_hour     0
fatalities        0
injuries          4
collisions        4
area              0
car               4
motorcycle        4
passengers        4
bicycle           4
pedestrians       4
dtype: int64

In [93]:
df = df.dropna()

In [95]:
df[df['pedestrians']== "N/R"]

,accident_month,accident_day,accident_year,accident_hour,fatalities,injuries,collisions,area,car,motorcycle,passengers,bicycle,pedestrians
0,January,Wednesday,2014,14,0,NO,NO,Tam O'Shanter-Sullivan (118),N/R,N/R,N/R,N/R,N/R
17,January,Wednesday,2014,13,0,NO,NO,East L'Amoreaux (148),N/R,N/R,N/R,N/R,N/R
19,January,Wednesday,2014,9,0,NO,YES,South Parkdale (85),N/R,N/R,N/R,N/R,N/R
22,January,Wednesday,2014,13,0,NO,NO,Dorset Park (126),N/R,N/R,N/R,N/R,N/R
103,January,Thursday,2014,22,0,NO,NO,NSA,N/R,N/R,N/R,N/R,N/R
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737939,March,Friday,2025,14,0,NO,NO,Ionview (125),N/R,N/R,N/R,N/R,N/R
738010,March,Saturday,2025,18,0,NO,YES,NSA,N/R,N/R,N/R,N/R,N/R
738348,March,Monday,2025,19,0,NO,NO,Downsview (155),N/R,N/R,N/R,N/R,N/R
738540,March,Tuesday,2025,12,0,NO,YES,Yorkdale-Glen Park (31),N/R,N/R,N/R,N/R,N/R
738959,March,Friday,2025,22,0,NO,YES,Wellington Place (164),N/R,N/R,N/R,N/R,N/R

In [97]:
df["motorcycle"] = df["motorcycle"].replace("N/R", "not_recorded")
df["passengers"] = df["passengers"].replace("N/R", "not_recorded")
df["bicycle"] = df["bicycle"].replace("N/R", "not_recorded")
df["pedestrians"] = df["pedestrians"].replace("N/R", "not_recorded")
df["car"] = df["car"].replace("N/R", "not_recorded")
df

/var/folders/49/td1jd0hx4wv_kk5z1ncw71yr0000gn/T/ipykernel_1414/660619326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["motorcycle"] = df["motorcycle"].replace("N/R", "not_recorded")
/var/folders/49/td1jd0hx4wv_kk5z1ncw71yr0000gn/T/ipykernel_1414/660619326.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["passengers"] = df["passengers"].replace("N/R", "not_recorded")
/var/folders/49/td1jd0hx4wv_kk5z1ncw71yr0000gn/T/ipykernel_1414/660619326.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["bicycle"] = df["bicycle"].replace("N/R", "not_recorded")
/var/folders/49/td1jd0hx4wv_kk5z1ncw71yr0000gn/T/ipykernel_1414/660619326.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["pedestrians"] = df["pedestrians"].replace("N/R", "not_recorded")
/var/folders/49/td1jd0hx4wv_kk5z1ncw71yr0000gn/T/ipykernel_1414/660619326.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["car"] = df["car"].replace("N/R", "not_recorded")

,accident_month,accident_day,accident_year,accident_hour,fatalities,injuries,collisions,area,car,motorcycle,passengers,bicycle,pedestrians
0,January,Wednesday,2014,14,0,NO,NO,Tam O'Shanter-Sullivan (118),not_recorded,not_recorded,not_recorded,not_recorded,not_recorded
1,January,Wednesday,2014,7,0,NO,YES,NSA,YES,NO,NO,NO,NO
2,January,Wednesday,2014,2,0,YES,NO,NSA,YES,NO,NO,NO,NO
3,January,Wednesday,2014,3,0,NO,NO,NSA,YES,NO,NO,NO,NO
4,January,Wednesday,2014,5,0,YES,NO,NSA,YES,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739260,March,Monday,2025,9,0,NO,NO,University (79),YES,NO,NO,NO,NO
739261,March,Monday,2025,11,0,NO,NO,Weston (113),YES,NO,NO,NO,NO
739262,March,Monday,2025,14,0,NO,YES,Palmerston-Little Italy (80),YES,NO,NO,NO,NO
739263,March,Monday,2025,6,0,YES,NO,York University Heights (27),YES,NO,YES,NO,NO
739264,March,Monday,2025,21,0,NO,NO,Downsview (155),YES,NO,NO,NO,NO

In [105]:
df["area"].unique()
df["area"] = df["area"].replace("NSA", "not_recorded")

/var/folders/49/td1jd0hx4wv_kk5z1ncw71yr0000gn/T/ipykernel_1414/4054649697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["area"] = df["area"].replace("NSA", "not_recorded")

In [107]:
df

,accident_month,accident_day,accident_year,accident_hour,fatalities,injuries,collisions,area,car,motorcycle,passengers,bicycle,pedestrians
0,January,Wednesday,2014,14,0,NO,NO,Tam O'Shanter-Sullivan (118),not_recorded,not_recorded,not_recorded,not_recorded,not_recorded
1,January,Wednesday,2014,7,0,NO,YES,not_recorded,YES,NO,NO,NO,NO
2,January,Wednesday,2014,2,0,YES,NO,not_recorded,YES,NO,NO,NO,NO
3,January,Wednesday,2014,3,0,NO,NO,not_recorded,YES,NO,NO,NO,NO
4,January,Wednesday,2014,5,0,YES,NO,not_recorded,YES,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
739260,March,Monday,2025,9,0,NO,NO,University (79),YES,NO,NO,NO,NO
739261,March,Monday,2025,11,0,NO,NO,Weston (113),YES,NO,NO,NO,NO
739262,March,Monday,2025,14,0,NO,YES,Palmerston-Little Italy (80),YES,NO,NO,NO,NO
739263,March,Monday,2025,6,0,YES,NO,York University Heights (27),YES,NO,YES,NO,NO
739264,March,Monday,2025,21,0,NO,NO,Downsview (155),YES,NO,NO,NO,NO

In [111]:
!pip install sqlalchemy
!pip install mysql-connector-python
import mysql.connector
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp312-cp312-macosx_14_0_arm64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.3.0-cp312-cp312-macosx_14_0_arm64.whl (15.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.2/15.2 MB 21.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [113]:
username = "###"
password = "#####"
host = "####"
database = "####"

In [117]:
!pip install pymysql
import pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [119]:
connect = f'mysql+pymysql://{username}:{password}@{host}/{database}'
engine = create_engine(connect)

In [127]:
df.to_sql(name="accident", con=engine, index=False)

739261